<div class="card">
    <div class="card-header">
        {{title}}
    </div>
    <div class="basic-table" div class="row">
        <app-employee-count *ngIf="employees" [all]='getAllEmployees()' [male]='getAllMaleEmployees()' [female]='getAllFemaleEmployees()' (countRadioButtonSelectionChanged)='onEmployeeCountRadioButtonChanged($event)'>
        </app-employee-count>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Age</th>
                <th>Gender</th>
                <th>DOB</th>
            </tr>
            <tbody>
                <ng-container *ngFor="let employee of employees">
                    <tr *ngIf="selectedEmployeeCountRadioButton=='All' || selectedEmployeeCountRadioButton === employee.gender">
                        <td>{{employee.id | uppercase}}</td>
                        <td>{{employee.name| employeeTitle: employee.gender}}</td>
                        <td>{{employee.salary}}</td>
                        <td>{{employee.age}}</td>
                        <td>{{employee.gender}}</td>
                        <td>{{employee.dob}}</td>
                    </tr>
                </ng-container>
                <tr *ngIf="!employees">
                    <td colspan="5">{{errorMessage}}</td>
                </tr>
                <tr *ngIf="employees && employees.length === 0">
                    <td colspan="5">No data to display</td>
                </tr>

            </tbody>
        </table>

    </div>
</div>