/* You can add global styles to this file, and also import other style files */

body{
   background-color: rgb(119, 30, 192);
   margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
   color: white;
}
html, body { height: 100%; }

